on: [push]

jobs:
  publish:
    runs-on: ubuntu-latest

    environment:
      name: Production
      url: medease.pages.dev

    permissions:
      contents: read
      deployments: write
    name: Publish to Cloudflare Pages

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up environment variables
        working-directory: frontend
        run: |
          echo "VITE_API_URL=${{ secrets.VITE_API_URL }}" >> .env

      - name: Build Frontend
        working-directory: frontend
        run: |
          npm install
          npm run build

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: 07e6df68b3b730b5f78b5014184f0818
          projectName: medease
          directory: frontend/dist
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          wranglerVersion: "3"
